.navbar {
  background-color: #f8f9fa;
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-left: 20px;
}

.navbar-brand {
  font-weight: bold;
}

.custom-toggler {
  border: 2px solid white;
}

.custom-nav {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  border-radius: 5px;
}

.custom-nav .nav-link {
  color: white !important;
  padding: 10px;
}

.custom-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
