/* src/index.css o src/styles.css */
.navbar {
  background-color: #f8f9fa; /* Fondo claro */
}

.navbar-nav .nav-link {
  font-size: 18px;
  margin-left: 20px;
}

.navbar-brand {
  font-weight: bold;
}
